.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-left: 85px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center; 
}

.table-container {
  width: 100%;
  max-width: 800px;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 600px; 
}

.header-cell, .data-cell {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: left;
}

.header-cell {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-row:nth-child(even) {
  background-color: #f9f9f9;
}

.data-row:nth-child(odd) {
  background-color: #ffffff;
}

.delete-button, .toggle-visibility-button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit; /
}

.delete-button:hover, .toggle-visibility-button:hover {
  color: red;
}

.toggle-visibility-button {
  color: blue;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }

  .catalog {
    margin: 20px;
    width: auto; 
  }

  .table-container {
    width: 100%; 
    margin-right: 0; 
  }

  .data-table {
    min-width: 100%; 
    width: auto;
  }

  .header-cell, .data-cell {
    padding: 6px; 
    font-size: 0.9em; 
  }

  .delete-button, .toggle-visibility-button {
    font-size: 0.9em; 
  }
}
